.root .extra .header {
    display: flex;
    line-height: 40px;
    box-shadow: 0 1px 1px 0 #efefef;
}

.root .extra .header a {
    text-decoration: none;
    color: black;
}

.root .extra .header .logo {
    width: 130px;
    text-align: center;
}

.root .extra .header .navi {
    padding-right: 10px;
    flex: 1;
    text-align: right;
}