.root {
    --width: 180px;
    display: block;
    margin: 5px;
}

.root .label {
    user-select: none;
}

.root .label::after {
    content: '：';
}

.root .select {
    width: var(--width);
    outline: none;
}