.root {
    --item-width: 180px;
    --item-height: 30px;
    display: block;
    margin: 5px;
}

.root .label {
    user-select: none;
}

.root .label::after {
    content: '：';
}

.root .item {
    width: var(--item-width);
    height: var(--item-height);
}

.root .select {
    outline: none;
}