.root .extra {
    position: relative;
    margin: 10px 5px;
    height: calc(100% - 10px * 2);
}

.root .extra .stage {
    height: 100%;
    overflow-y: auto;
}

.root .extra .switch {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #fff;
    opacity: 0.2;
}

.root .extra .switch:hover {
    opacity: 1;   
}