.root {
    margin: 10px;
    padding: var(--padding);
    border: 1px solid #efefef;
    border-radius: 3px;
}

.root .title {
    padding: 3px 5px;
    user-select: none;
    line-height: 24px;
}

.root .title svg {
    margin: 0 5px;
    vertical-align: middle;
}


.root .body>*:not([role='alert']) {
    margin: 3px;
}