.root {
    margin: 10px;
    padding: 10px;
    border: 1px solid #efefef;
    border-radius: 3px;
}

.root .title {
    padding: 3px 5px;
    user-select: none;
}


.root .body>* {
    display: inline-block;
    margin: 3px;
}