.root {
	height: 100%;
}

.root .header {
	border-bottom: 1px solid #efefef;
}

.root .stage {
	height: calc(100% - 50px);
	overflow-y: hidden;
}

.root .stage .form {
	padding: 5px;
	width: calc(100% - 5px * 2);
}

.root .stage .form .source {
	margin-top: 10px;
}

.root .stage .form .bar {
	margin: 10px 0;
}

.root .stage .form .bar button {
	margin: 3px;
}

.root .stage  .extra {
	padding: 10px;
}
