.root .board .query {
	padding: 5px;
	width: calc(100% - 10px);
	min-height: 3rem;
	max-height: 20rem;
	border: none;
	outline: none;
	resize: vertical;
}

.root .board .result {
	margin: 10px;
	border: 1px solid #efefef;
	border-radius: 3px;
}